

    <nav class="menu-principal">
        <section class="menu-section">
            <h2 class="dashboard-admin-title">Tableau de bord</h2>
        </section>

        <section class="menu-section">
            <h2 class="menu-item-title">Modération</h2>
            <ul class="menu-li">
                <li class="menu-item"><a href="avisusers.php" class="nav-links">Avis utilisateurs</a></li>
            </ul>
        </section>

         <section class="menu-section">
            <h2 class="menu-item-title">Suivi signalements</h2>
            <ul class="menu-li">
                <li class="menu-item"><a href="signalements.php">Signalements</a></li>
            </ul>
        </section>

         <section class="menu-section">
            <h2 class="menu-item-title">Messages</h2>
            <ul class="menu-li">
                <li class="menu-item"><a href="messagesadmin.php">Messagerie</a></li>
            </ul>
        </section>

         <section class="menu-section">
            <h2 class="menu-item-title">Notifications internes</h2>
            <ul class="menu-li">
                <li class="menu-item"><a href="notifinternes.php">Notifications</a></li>
            </ul>
        </section>

        <section class="menu-section">
            <h2 class="menu-item-title">Aide</h2>
            <ul class="menu-li">
                <li class="menu-item"><a href="aideadmin.php">Aide</a></li>
            </ul>
        </section>
    </nav>

     <!-- A REVOIR <li class="menu-item"><a href="avissignalés.php" class="nav-links">Avis signalés</a></li>
                -->

