<header>
    <div class="header-container">
        <div class="logo">
            <a href="accueil.php" class="logo-link">
                <img src="../../IMAGES/logo.png" alt="Logo Eco Ride">
                <span class="logo-text">Eco Ride</span>
            </a>
        </div>
        <nav class="nav-container">
            <a class="nav-links" href="accueil.php"> Accueil </a>
            <a class="nav-links" href="proposer_trajet.php"> Proposer un trajet </a>
            <a class="nav-links" href="recherche_covoit.php"> Rechercher un covoiturage </a>
        </nav>
        <div class="profil-container">
            <img src="../../IMAGES/default-avatar.jpg" alt="Photo de profil par défaut" class="photo-profil" id="profil-click">
            
            <div class="menu-profil">
                <a href="moncompte.html"> Mon compte </a>
                <a href="#"> Déconnexion </a>
            </div>
        </div>
    </div>
</header>

<!-- A FAIRE
 - Faire en sorte que connexion/deconnexion s'affiche, +/- menu burger-->