<nav class="menu-principal">

    <div class="menu-section">
        <h2 class="dashboard-admin-title">Tableau de bord</h2>
    </div>

    <div class="menu-section">
        <h2 class="menu-item-title">Comptes</h2>
        <ul class="menu-li">
            <li class="menu-item"><a href="ADM-employes.php">Employés</a></li>
            <li class="menu-item"><a href="ADM-utilisateurs.php">Utilisateurs</a></li>
        </ul>
    </div>

    <div class="menu-section">
        <h2 class="menu-item-title">Statistiques</h2>
        <ul class="menu-li">
            <li class="menu-item"><a href="ADM-statistiques.php">Graphiques & crédits</a></li>
        </ul>
    </div>

    <div class="menu-section">
        <h2 class="menu-item-title">Supervision</h2>
        <ul class="menu-li">
            <li class="menu-item"><a href="admin_logs.php">Logs</a></li>
        </ul>
    </div>

</nav>