    <!-- Menu de navigation à gauche -->
    <nav class="menu-principal">

        <!-- Première section du menu -->
        <section class="menu-section">
            <h2 class="dashboard-admin-title">Tableau de bord</h2>
        </section>

        <!-- Deuxième section du menu -->
        <section class="menu-section">
            <h2 class="menu-item-title">Comptes</h2>
            <ul class="menu-li">
                <li class="menu-item"><a href="admin_employes.php">Employés</a></li>
                <li class="menu-item"><a href="admin_utilisateurs.php">Utilisateurs</a></li>
            </ul>
        </section>

        <!-- Troisième section du menu -->
        <section class="menu-section">
            <h2 class="menu-item-title">Statistiques</h2>
            <ul class="menu-li">
                <li class="menu-item">Covoiturage</li>
                <li class="menu-item">Ratio</li>
                <li class="menu-item">Crédit</li>
                <li class="menu-item">Crédit auto / utilisateur auto</li>
            </ul>
        </section>
    </nav>