<header>
    <div class="header-container">
        <div class="logo">
            <span> ECO RIDE </span>
        </div>
        <nav class="nav-links">
            <a href="m1_accueil.html"> Accueil </a>
            <a href="m10_proposertrajet.html"> Proposer un trajet </a>
            <a href="m2_recherche.html"> Rechercher un covoiturage </a>
        </nav>
        <div class="profil-container">
            <img src="" alt="Photo de profil par défaut" class="photo-profil" id="profil-click">
            
            <div class="menu-profil">
                <a href="moncompte.html"> Mon compte </a>
                <a href=""> Déconnexion </a>
            </div>
        </div>
    </div>
</header>

