.profil-container {
    position: relative;
    margin-left: 1rem;

}

.photo-profil {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid var(--vert-doux);
}

/* ==============================================*/
/*  CALL TO ACTION */
/* ==============================================*/

.cta-section {
    text-align: center;
    margin: 40px 0;
}

.cta-btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--beige-fonce);
    color: var(--vert-doux);
    padding: 0.8em 1.6em;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    border: 1px solid var(--vert-doux);
}

.cta-btn:hover {
    background-color: var(--orange-doux);
    color: black;
}

