<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
<header class="header-employe">
    <h1 class="espace-employe">Espace Administrateur</h1>
        <div class="logo">
            <a href="accueil.php" class="logo-link">
                <img src="IMAGES/logo.png" alt="Logo Eco Ride">
                <span class="logo-text">Eco Ride</span>
            </a>
        </div>
        <div class="user-profile">
        <div class="user-info">
                <p><span class="label-employe">Nom :</span> Clara</p>
                <p><span class="label-employe">Email :</span> clara@ecoride.fr</p>
        </div>
        <div class="profil-container">
        <img src="IMAGES/default-avatar.jpg" alt="Photo de profil par défaut" class="photo-profil" id="profil-click">
            
            <div class="menu-profil">
                <a href="moncompte.html"> Mon compte </a>
                <a href=""> Déconnexion </a>
            </div>
        </div>
        </div>
</header>
