<nav class="menu-principal">
        <section class="menu-section">
            <h2>Mon compte</h2>
            <ul class="menu-li">
                <li class="menu-item"><a href="../MON COMPTE PHP/infosperso.php" class="nav-links">Informations personnelles</a></li>
                <li class="menu-item"><a href="../MON COMPTE PHP/mestrajets.php" class="nav-links">Mes trajets</a></li>
                <li class="menu-item"><a href="../MON COMPTE PHP/messagerie.php" class="nav-links">Messagerie</a></li>
                <li class="menu-item"><a href="../MON COMPTE PHP/avis.php" class="nav-links">Avis</a></li>
                <li class="menu-item"><a href="../MON COMPTE PHP/aide.php">Aide</a></li>
                <li class="menu-item"><a href="../MON COMPTE PHP/credits.php">Crédits</a></li>
            </ul>
        </section>
    </nav>